.Glassmorphism{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 15px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.GlassmorphismText{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.animationDiv{
    animation-name: moveDiv;
    animation-duration: 2s;
}
.animationDiv2{
    animation-name: moveDiv2;
    animation-duration: 3s;
}
.animationDiv3{
    animation-name: moveDiv3;
    animation-duration: 4s;
}

@keyframes moveDiv{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes moveDiv2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes moveDiv3{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}